{% for machine in machines %}
<div class="row">
	<div class="hostname hotness-{{machine.hotness}}">
		<span title="{{machine.hostname}} at {{machine.load_avg.five}} load">
			{{machine.hostname}}
		</span>
	</div>
	<div class="owner-mark">
		{# TODO: Is there a better check for this? #}
		{% set mark = machine.owner_mark -%}
		{% if mark != "" %}
		{% if mark == "v" %}
			{% set mark_title = "Visitor" -%}
		{% elif mark == "s" %}
			{% set mark_title = "Student" -%}
		{% endif %}
		<span class="mark-{{mark}}" title="{{mark_title}}">{{mark}}</span>
		{% endif %}
	</div>
	{# TODO: This ought to be a bool in the struct or something. #}
	<div class="owner {% if machine.owner == "Reservation required" %}reserve{% endif %}">
		<span title="owner">{{machine.owner}}</span>
	</div>
	<div class="room">
		<span title="room">{{machine.room}}</span>
	</div>
	<div class="cpu">
		<span class="used" title="used cores">{{machine.cpu_usage.used}}</span><span class="divider">/</span><span class="total" title="total cores">{{machine.cpu_usage.total}}</span>
	</div>
	<div class="active-task">
		{% if machine.active_user %}
		<span class="user" title="active task user">{{machine.active_user.user}}</span><span class="divider">:</span><span class="name" title="active task name">{{machine.active_user.task}}</span>{% if machine.active_user.cores > 1 %}<span class="divider">@</span><span class="cores" title="active task cores">{{machine.active_user.cores}}</span>{% endif %}
		{% endif %}
	</div>
</div>
{% endfor %}
