:root {
	/* Old colors: */
	/* #b0cd75 */
	/* #c0cc6c */
	/* #cfcb63 */
	/* #d9cf69 */
	/* #e3d26f */
	/* #d7ae67 */
	/* #ca895f */
	/* #c56355 */
	/* #bf3d4a */
	/* #c41829 */
	/* --color-hotness-0: hsla( 80, 47%, 44%); */
	/* --color-hotness-1: hsla( 65, 43%, 48%); */
	/* --color-hotness-2: hsla( 57, 54%, 47%); */
	/* --color-hotness-3: hsla( 46, 62%, 49%); */
	/* --color-hotness-4: hsla( 39, 56%, 50%); */
	/* --color-hotness-5: hsla( 24, 50%, 52%); */
	/* --color-hotness-6: hsla(  8, 49%, 52%); */
	/* --color-hotness-7: hsla(354, 52%, 49%); */
	/* --color-hotness-8: hsla(354, 64%, 46%); */
	/* --color-hotness-9: hsla(354, 78%, 43%); */
	--color-hotness-0: hsla( 80, 67%, 29%);
	--color-hotness-1: hsla( 65, 63%, 33%);
	--color-hotness-2: hsla( 57, 74%, 32%);
	--color-hotness-3: hsla( 46, 82%, 34%);
	--color-hotness-4: hsla( 39, 76%, 35%);
	--color-hotness-5: hsla( 24, 70%, 37%);
	--color-hotness-6: hsla(  8, 69%, 37%);
	--color-hotness-7: hsla(354, 72%, 34%);
	--color-hotness-8: hsla(354, 84%, 31%);
	--color-hotness-9: hsla(354, 98%, 28%);

	--color-faint: #d0d0d0;
	--color-dim: #888888;
	--color-fg: black;
	--color-bg: white;

	--color-alt-row: #f8f8f8;
	--color-divider: #aaaaaa;

	--color-mark-visitor: hotpink;
	--color-mark-student: cornflowerblue;

	--max-width: 800px;
	--owner-column-width: 6em;
}

/* TODO: This seems rather repetitive. */
.hotness-0 { background-color: var(--color-hotness-0); }
.hotness-1 { background-color: var(--color-hotness-1); }
.hotness-2 { background-color: var(--color-hotness-2); }
.hotness-3 { background-color: var(--color-hotness-3); }
.hotness-4 { background-color: var(--color-hotness-4); }
.hotness-5 { background-color: var(--color-hotness-5); }
.hotness-6 { background-color: var(--color-hotness-6); }
.hotness-7 { background-color: var(--color-hotness-7); }
.hotness-8 { background-color: var(--color-hotness-8); }
.hotness-9 { background-color: var(--color-hotness-9); }

html {
	box-sizing: border-box;
	font-size: 16px;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	max-width: var(--max-width);
	margin: 2em auto 2em auto;
	color: var(--color-fg);
	background-color: var(--color-bg);
}

.row {
	/* display: grid; */
	/* grid-template-columns: 5em     1ch minmax(10em, auto) 7ch  7ch   minmax(auto, 31ch); */
	/* grid-template-areas: "hostname owner-mark owner room cpu active-task"; */
	/* grid-column-gap: 1ch; */
	/* align-items: baseline; */
	display: flex;
	align-items: baseline;
	flex-direction: row;
	font-family: monospace;
}

.row > * {
	margin-left: 1ch;
}

.row > :first-child {
	margin-left: 0;
}

/* TODO: Figure out what's best here. */
/* .row:nth-child(odd) { */
.row:hover {
	background-color: var(--color-alt-row);
}

.owner, .user {
	font-family: sans-serif;
	font-weight: bold;
}

.row .hostname {
	grid-area: hostname;
	padding-left: 1ch;
	font-family: sans-serif;
	color: var(--color-bg);
	min-width: 5em;
}

.row .hostname.hotness-0 {
	font-style: italic;
}

.row .owner-mark {
	grid-area: owner-mark;
	font-style: italic;
	font-weight: bold;
	min-width: 1ch;
}

.owner-mark .mark-v { color: var(--color-mark-visitor); }
.owner-mark .mark-s { color: var(--color-mark-student); }

.row .owner {
	grid-area: owner;
	min-width: var(--owner-column-width);
	width: auto;
	flex-grow: 1;
}

.owner.reserve {
	color: var(--color-dim);
	font-style: italic;
	font-weight: normal;
}

.row .room {
	grid-area: room;
	color: var(--color-dim);
	font-weight: lighter;
	font-size: 0.75em;
	text-align: right;
	overflow: clip;
	text-overflow: ellipsis;
	width: 9ch;
}

/* calc(var(--max-width) - 9ch) */
@media only screen and (max-width: 720px) {
	.row .room {
		display: none;
	}
}

.row .cpu {
	grid-area: cpu;
	background-color: var(--color-faint);
	font-family: sans-serif;
	font-variant-numeric: tabular-nums;
	padding: 0 3px;
	white-space: nowrap;
}

.row .cpu .used {
	display: inline-block;
	text-align: right;
	width: 3ch;
}

.row .cpu .total {
	display: inline-block;
	width: 3ch;
}

.row .cpu .total {
	color: var(--color-dim)
}

.row .active-task {
	grid-area: active-task;
	--width: calc(var(--owner-column-width) + 2ch + 15ch + 3ch);
	width: var(--width);
	min-width: var(--width);
}

.row .active-task .user {
	display: inline-block;
	text-align: right;
	width: var(--owner-column-width);
}

.row .active-task .name {
	font-style: italic;
	display: inline-block;
	max-width: 15ch;
	overflow: clip;
	text-overflow: ellipsis;
}

.row .active-task .cores {
	font-weight: lighter;
}

.divider {
	color: var(--color-divider);
}
